@model yelp.Models.NewBizViewModel
@{
    ViewData["Title"] = "Yodel | Add a Business"; 
}

@Html.Partial("NavbarPartial")

<div id="new-biz-container" class="container-fluid">
<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="panel p-5">
            <div class="panel-body">
                <h1 class="mb-4 text-purple">Add Your Business</h1>
                <form asp-controller="Business" asp-action="CreateBiz" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="BizVM.Name" class="font-weight-bold">Business Name</label>
                        <input asp-for="BizVM.Name" tabindex="1" class="form-control" placeholder="Business Name" value="">
                        <span asp-validation-for="BizVM.Name" class="text-danger"></span>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 p-0">
                            <div class="form-group">
                                <label asp-for="BizVM.CategoryId" class="font-weight-bold">Category</label>
                                <select asp-for="BizVM.CategoryId" tabindex="2" class="form-control" placeholder="Select a Category">
                                    @{
                                        if (ViewBag.Categories != null)
                                        {
                                            foreach (var category in ViewBag.Categories)
                                            {
                                                <option value=@category.BusCategoryId>@category.Category</option>
                                            }
                                        }
                                    }
                                </select>
                                <span asp-validation-for="BizVM.CategoryId" class="text-danger"></span>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a class="text-orange" tabindex="3" href="" data-toggle="modal" data-target="#ModalCategory"><u>... or add a new category</u></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BizVM.CategoryTypeId" class="font-weight-bold">Subcategory</label>
                                <select asp-for="BizVM.CategoryTypeId" tabindex="4" class="form-control" placeholder="Select a subcategory">
                                    @{
                                        if (ViewBag.CategoryTypes != null)
                                        {
                                            foreach (var subcat in ViewBag.CategoryTypes)
                                            {
                                                <option value=@subcat.BusCategoryTypeId>@subcat.CategoryType</option>
                                            }
                                        }
                                    }
                                </select>
                                <span asp-validation-for="BizVM.CategoryTypeId" class="text-danger"></span>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a class="text-orange" tabindex="5" href="" data-toggle="modal" data-target="#ModalCategoryType"><u>... or add a new subcategory</u></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-4">
                        <div class="col-md-4 p-0">
                            <div class="form-group">
                                <label asp-for="BizVM.Phone" class="font-weight-bold">Phone Number</label>
                                <input asp-for="BizVM.Phone" tabindex="6" class="form-control" placeholder="Phone" value="">
                                <span asp-validation-for="BizVM.Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BizVM.Address" class="font-weight-bold">Street Address</label>
                        <input asp-for="BizVM.Address" tabindex="7" class="form-control" placeholder="Street Address" value="">
                        <span asp-validation-for="BizVM.Address" class="text-danger"></span>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 p-0">
                            <div class="form-group">
                                <label asp-for="BizVM.City" class="font-weight-bold">City</label>
                                <input asp-for="BizVM.City" tabindex="8" class="form-control" placeholder="City" value="">
                                <span asp-validation-for="BizVM.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="BizVM.State" class="font-weight-bold">State</label>
                                <input asp-for="BizVM.State" tabindex="9" class="form-control" placeholder="State (2-letters)" value="" maxlength="2">
                                <span asp-validation-for="BizVM.State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="BizVM.ZipCode" class="font-weight-bold">Zipcode</label>
                                <input asp-for="BizVM.ZipCode" tabindex="10" class="form-control" placeholder="Zipcode" value="" maxlength="10">
                                <span asp-validation-for="BizVM.ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label asp-for="BizVM.Website" class="font-weight-bold">Website</label>
                        <input asp-for="BizVM.Website" tabindex="11" class="form-control" placeholder="http://" value="">
                        <span asp-validation-for="BizVM.Website" class="text-danger"></span>
                    </div>
                    <div class="row col-md-12">
                        <div class="background-rounded col-md-10 mx-auto p-4">
                            <div class="form-group">
                                <h5>Add a feature image</h5>
                                <div class="row col-md-10 mx-auto">
                                    <label class="btn btn-orange btn-file">Browse</label>
                                    <label id="fileup" class="custom-file col-md-9">
                                        <input asp-for="BizVM.ImageFiles" type="file" class="custom-file-input">
                                        <span class="custom-file-control">Select a file here ...</span>
                                    </label>
                                    <div id="files" class="files"></div>
                                    <div class="row col-md-12">
                                        <div class="col-md-8 mx-auto">
                                            <img id="upload_img" class="upload_img" src="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-5 mb-5">
                        <div class="form-group col-sm-6 col-md-3 mx-auto">
                            <input type="submit" tabindex="13" class="form-control btn btn-login" value="SUBMIT">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal Forms for Category and Subcategory -->
<div class="row">
    <div class="modal" id="ModalCategory" role="dialog">
        <div class="modal-dialog" role="document">
            <form asp-controller="Business" asp-action="NewBizCategory" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a new business category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="CategoryVM.Category" class="font-weight-bold">Category (singular)</label>
                            <input asp-for="CategoryVM.Category" tabindex="1" class="form-control" placeholder="New Category">
                            <span asp-validation-for="CategoryVM.Category" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-orange" tabindex="2" value="Save changes">
                        <button type="button" class="btn btn-secondary" tabindex="3" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal" id="ModalCategoryType" role="dialog">
        <div class="modal-dialog" role="document">
            <form asp-controller="Business" asp-action="NewBizCategoryType" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a new business subcategory</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="CategoryTypeVM.CategoryId" class="font-weight-bold">Subcategory (singular)</label>
                            <select asp-for="CategoryTypeVM.CategoryId" tabindex="1" class="form-control" placeholder="Select a category" value="">
                                @{
                                    if (ViewBag.Categories != null)
                                    {
                                        foreach (var category in ViewBag.Categories)
                                        {
                                            <option value=@category.BusCategoryId>@category.Category</option>
                                        }
                                    }
                                }
                            </select>
                            <span asp-validation-for="CategoryTypeVM.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryTypeVM.CategoryType" class="font-weight-bold"></label>
                            <input asp-for="CategoryTypeVM.CategoryType" tabindex="2" class="form-control" placeholder="New Category" value="">
                            <span asp-validation-for="CategoryTypeVM.CategoryType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-orange" tabindex="3" value="Save changes">
                        <button type="button" class="btn btn-secondary" tabindex="4" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("FooterPartial")