@model yelp.Models.LoginRegFormModel
@{
    ViewData["Title"] = "Yodel"; 
}

@{
    string valFirstName = "";
    string valLastName = "";
    string valEmail = "";
    string valZipCode = "";
    string valPassword = "";
    
    if(ViewBag.errors != null)
    {
        valFirstName = ViewBag.errors["registerVM.FirstName"].RawValue;
        valEmail = ViewBag.errors["registerVM.Email"].RawValue;
        valLastName = ViewBag.errors["registerVM.LastName"].RawValue;
        valZipCode = ViewBag.errors["registerVM.ZipCode"].RawValue;
        valPassword = ViewBag.errors["registerVM.Password"].RawValue;
    }
<!-- Login & reg modal -->

<div id="home-header" class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-5">
                <a id="review-header" href="/addReview">Write a review</a>
            </div>
            <div class="col-5">
                <img id="header-logo" src="~/img/yodelLogo.jpg"/>
            </div>
            <div class="col-2">
                <button type="button" id="log-reg-button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Login / Sign up</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
    <div id="regContainer" class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-md-offset-3 mx-auto">
                <div class="panel panel-login p-3">
                    <div class="panel-heading">
                        <div class="row mx-auto">
                            <div class="col-xs-6 mx-auto">
                                <a href="#" class="active" id="register-form-link">Register</a>
                            </div>
                            <div class="col-xs-6 mx-auto">
                                <a href="#" id="login-form-link">Login</a>
                            </div>
                        </div>
                        <hr class="mt-2 mb-3">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="register-form" asp-controller="Home" asp-action="Register" method="post" role="form" style="display: block;">
                                    <!-- registration form -->
                                    <div class="form-group">
                                        <label asp-for="registerVM.FirstName">First Name</label>
                                        <input asp-for="registerVM.FirstName" tabindex="2" class="form-control" placeholder="First Name" value="@valFirstName">
                                    </div>
                                    <div>
                                        @{
                                            if(ViewBag.errors != null)
                                            {
                                                @foreach(string key in ViewBag.errors.Keys)
                                                {
                                                    if (key == "FirstName" && ViewBag.errors[key].Errors.Count > 0)
                                                    {
                                                        foreach(var error in ViewBag.errors[key].Errors)
                                                        {
                                                            <p class="text-danger font-weight-bold">@error.ErrorMessage</p>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="registerVM.LastName">Last Name</label>
                                        <input asp-for="registerVM.LastName" tabindex="3" class="form-control" placeholder="Last Name" value="@valLastName">
                                    </div>
                                    <div>
                                        @{
                                            if(ViewBag.errors != null)
                                            {
                                                @foreach(string key in ViewBag.errors.Keys)
                                                {
                                                    if (key == "LastName" && ViewBag.errors[key].Errors.Count > 0)
                                                    {
                                                        foreach(var error in ViewBag.errors[key].Errors)
                                                        {
                                                            <p class="text-danger font-weight-bold">@error.ErrorMessage</p>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="registerVM.Email">Email</label>
                                        <input asp-for="registerVM.Email" tabindex="4" class="form-control" placeholder="email@domain.ext" value="@valEmail">
                                    </div>
                                    <div>
                                        @{
                                            if(ViewBag.errors != null)
                                            {
                                                @foreach(string key in ViewBag.errors.Keys)
                                                {
                                                    if (key == "Email" && ViewBag.errors[key].Errors.Count > 0)
                                                    {
                                                        foreach(var error in ViewBag.errors[key].Errors)
                                                        {
                                                            <p class="text-danger font-weight-bold">@error.ErrorMessage</p>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="registerVM.ZipCode">Zip Code</label>
                                        <input asp-for="registerVM.ZipCode" type="text" tabindex="5" class="form-control" placeholder="ex. 11111" value="@valZipCode">
                                    </div>
                                    <div>
                                        @{
                                            if(ViewBag.errors != null)
                                            {
                                                @foreach(string key in ViewBag.errors.Keys)
                                                {
                                                    if (key == "ZipCode" && ViewBag.errors[key].Errors.Count > 0)
                                                    {
                                                        foreach(var error in ViewBag.errors[key].Errors)
                                                        {
                                                            <p class="text-danger font-weight-bold">@error.ErrorMessage</p>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="registerVM.Password">Password</label>
                                        <input asp-for="registerVM.Password" tabindex="6" class="form-control" placeholder="Password" value="@valPassword">
                                    </div>
                                    <div>
                                        @{
                                            if(ViewBag.errors != null)
                                            {
                                                @foreach(string key in ViewBag.errors.Keys)
                                                {
                                                    if (key == "Password" && ViewBag.errors[key].Errors.Count > 0)
                                                    {
                                                        foreach(var error in ViewBag.errors[key].Errors)
                                                        {
                                                            <p class="text-danger font-weight-bold">@error.ErrorMessage</p>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="registerVM.ConfirmPassword">Confirm Password</label>
                                        <input asp-for="registerVM.ConfirmPassword" tabindex="7" class="form-control" placeholder="Confirm Password" value="">
                                    </div>
                                    <div>
                                        @{
                                            if(ViewBag.errors != null)
                                            {
                                                @foreach(string key in ViewBag.errors.Keys)
                                                {
                                                    if (key == "ConfirmPassword" && ViewBag.errors[key].Errors.Count > 0)
                                                    {
                                                        foreach(var error in ViewBag.errors[key].Errors)
                                                        {
                                                            <p class="text-danger font-weight-bold">@error.ErrorMessage</p>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 mx-auto">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="8" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="login-form" asp-controller="Home" asp-action="Login" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <label asp-for="loginVM.Email">Email</label>
                                        <input asp-for="loginVM.Email" tabindex="1" class="form-control" placeholder="Email" value="">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="loginVM.Password">Password</label>
                                        <input asp-for="loginVM.Password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 mx-auto">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- validations for the login form -->
                                    <div>
                                        @{
                                            if(ViewBag.login_errors != null)
                                            {
                                                foreach(string key in ViewBag.login_errors.Keys)
                                                {
                                                    if (key == "login" && ViewBag.login_errors[key].Errors.Count > 0)
                                                    {
                                                        foreach(var error in ViewBag.login_errors[key].Errors)
                                                        {
                                                            <p class="text-danger font-weight-bold">@error.ErrorMessage</p>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<!-- Rest of homepage -->

<div class="container">
    <form asp-controller="Search" asp-action="HomeSearch" method="POST">
        <input type="text" placeholder="Search by city">
        <input type="submit" value="Search">
    </form>
    <div class="row">
        <h3>Recent Businesses</h3>
        @if(@ViewBag.Businesses != null)
        {
            @foreach(var business in ViewBag.Businesses)
            {
                <div>
                    <p>@business.Name</p>
                </div>
            }
        }
    </div>
    <div class="row">        
        <h3>Yodel by Location</h3>
        @if(@ViewBag.Locations != null)
        {
            @foreach(var business in ViewBag.Locations)
            {
                <div>
                    <p>@business.Name</p>
                </div>
            }
        }
    </div>
    <div class="row">        
        <h3>Recent Reviews</h3>
        @if(@ViewBag.RecentReviews != null)
        {
            @foreach(var review in ViewBag.RecentReviews)
            {
                <div>
                    <p>@review.User.FirstName</p>
                </div>
            }
        }
    </div>
</div>