@if(ViewBag.User != null)
{
    @Html.Partial("NavbarPartial");
}

<div class="container-fluid">
    <h2>@ViewBag.User.FirstName</h2>
    <h4>@ViewBag.StateName</h4>

    @if(ViewBag.UserReviews != null)
    {
        <h5>Recent reviews:</h5>
        @foreach (var review in ViewBag.User.Reviews)
        {
            <p>@review.ReviewText</p>
            <li>@review.Business.Name</li>
        }
    }
    else 
    {
        <p>No recent activity</p>
    }
</div>
