@{
    ViewData["Title"] = "Yodel | Profile"; 
}

@Html.Partial("NavbarPartial")


<div id="prof-container" class="container-fluid">
    <h2>@ViewBag.User.FirstName</h2>
    <h4>@ViewBag.StateName</h4>

    @if(ViewBag.UserReviews != null)
    {
        <h5>Recent reviews:</h5>
        @foreach (var review in ViewBag.User.Reviews)
        {
            <p>"@review.ReviewText"</p>
            <p>--<a href="/biz/@review.Business.BusinessId">@review.Business.Name</a></p>
        }
    }
    else 
    {
        <p>No recent activity</p>
    }
</div>

@Html.Partial("FooterPartial")