@using yelp.Models
@model List<Business>

@{
    ViewData["Title"] = "Yodel | Search"; 
}

@Html.Partial("NavbarPartial")

<div id="city-container" class="container-fluid">
    <h2 class="text-center text-purple">Search businesses by city, name, or category</h2>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="panel p-3">
                <div class="panel-body">
                    <form class="col-md form-inline" asp-action="Search" asp-controller="Search" method="POST">
                        <div class="row col-md">
                            <div class="col-md">
                                <div class="form-group row">
                                    <div class="row">
                                        <div class="col-md">
                                            <input class="form-control" type="text" name="searchContent" placeholder="Enter your search">
                                            <select class="form-control" name="categoryContent">
                                                <option value="Name">Name</option>
                                                <option value="Category">Category</option>
                                                <option value="City">City</option>
                                            </select>
                                            <button class="btn btn-outline-primary" type="submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="panel p-3">
                <div class="panel-body">
                    <form class="col-md form-inline">
                        <div class="row col-md">
                            <div class="col-md">
                                <div class="form-group row">
                                    <div class="row">
                                        <div class="col-md">
                                            <input class="form-control btn btn-outline-primary" type="submit" asp-action="NewBiz" asp-controller="Business" value="Add a business">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="panel p-3">
                <div class="panel-body">
                    <div class="row">
                    @if(Model != null)
                    {
                        @foreach (var business in Model)
                        {
                        <div class="col-sm">
                            <div class="card w-50 card-outline-info">
                                <img class="img img-fluid card-img-top" src="@business.ImageLink" alt="Card image cap">
                                <div class="card-block">
                                    <p class="text-center card-title"><a class="text-indigo" href="/biz/@business.BusinessId">@business.Name</a></p>
                                    <hr class="mt-2 ">
                                    <p class="card-text"><span class="h5 text-danger">@business.City, @business.State </span><span>| @business.Phone</span></p>
                                </div>
                            </div>
                        </div>
                        } 
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if(ViewBag.NullSearch != null)
        {
            <h3 class="text-center">@ViewBag.NullSearch</h3>
        }
    </div>

</div>
@Html.Partial("FooterPartial")